// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blond: rgb(252, 248, 232);
$wheat: #E1CA96;
$sage: rgb(15, 15, 15);
$middle-grey: #918B76;
$ebony: rgb(201, 201, 201);
$black-olive: rgb(36, 41, 35);
