<div class="banner">
    <div>
    <h1>Need a car for a special occasion?</h1>
    <p>You're in the right spot!</p>
  </div>
  <div>
    <%= link_to 'See our cars', cars_path, class: "btn btn-ghost btn-banner" %>
  </div>
  <div>
  </div>
</div>
