<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Welcome to LuxeVantage!</h1>

<%= cl_image_tag("pg2wmkrxejudn60b157m",
      width: 400, height: 300, crop: :fill) %>

<%= link_to 'See our cars', cars_path %>
