// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   height: 1vh
// }

// .banner h1 {
//   margin: 0;
//   color: $blond;
//   text-shadow: 2px 2px 3px rgba(7, 0, 0, 0.5);
//   font-size: 36px;
//   font-weight: bold;
//   text-align: center;
//   margin: 50px;
// }

// .banner p {
//   font-size: 28px;
//   color: $blond;
//   text-shadow: 2px 2px 3px rgba(7, 0, 0, 0.5);
//   text-align: center;
// }

.banner {
  background-image: linear-gradient(rgba(50,50,50,0.4),rgba(50,50,50,0.4)), url(https://images.unsplash.com/photo-1508171997656-fdf7cf6c4df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height: calc(100vh - 140px);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner div {
  display: block;
  margin-bottom: 50px
}

