.booking {
  color: white;
  background: linear-gradient(rgba($color: #949494, $alpha: 0.6), rgba($color: #b6b6b6, $alpha: 0.6));
  padding: 40px 60px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.6);
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  h1 {
    text-align: center;
    padding: 20px;
  }
}

.booking-info {
  display: flex;
  padding-top: 30px;
}

.booking-info-description {
  padding: 20px;
}

.booking-info-booking {
  border-right: 1px solid rgb(255, 255, 255);
  min-width: 250px;
}
.booking-info-booking ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-right: 20px;
}


.booking-image {
  width: 100%;
  padding-right: 20px;
  border-radius: 10px;
}
