.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.4s ease;
}

.btn-ghost:hover {
  color: #899494;
  border-color: #899494;
}

.btn-banner {
  text-align: center;
  width: 149px;
}

