.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  margin: 15px;
}

.card-car {
  overflow: hidden;
  background: $ebony;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  border-radius: 3px;
  &:hover {
    background: $wheat;
    text-decoration: none;
  }
  &:hover h2 {
    color: $black-olive;
  }
  &:hover p {
    color: $black-olive;
  }
}

.card-car > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
}

.card-car p {
  font-size: 12px;
  margin: 0;
  color: $black-olive;
  text-decoration: none;
}


.card-car .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-car-infos .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
