.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  list-style: none;
  margin: 15px;
}

.card-car {
  overflow: hidden;
  background: $sage;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  border-radius: 3px;
}

.card-car > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-car p {
  font-size: 12px;
  margin: 0;
  color: $black-olive;
}


.card-car .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-car-infos .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
